body a{
    text-decoration: none;
    color: #f5f5f5;
}
/*header*/
header{
    width: 100%;
    background:var(--bg-color);
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    height: 80px;
    z-index: 100;

}
.nav_logo{
    width: 200px;
    height: 80px;
    display: inline-block;
    margin: auto 20px;
}
.nav_logo img{
    width: 100%;
}
.nav_menu{
    width: 100%;
    margin: 0 10px;
}
.nav_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav_list .wrap:nth-child(2){
    display: flex;
    justify-content: space-between;
}
.nav_item{
    margin: auto 10px;
    box-sizing: border-box;
    font-size: var(--h3-font-size);
}

.wrap .nav_item:nth-child(1):hover,
.wrap .nav_item:nth-child(2):hover,
.wrap .nav_item:nth-child(3):hover,
.wrap .nav_item:nth-child(4):hover
{
    display: inline-block;
    transform: translateY(-5px);
}
.nav_item a{
    color: #BA6565;
    text-decoration: none;
}
.wrap .nav_item:nth-child(1):hover a,
.wrap .nav_item:nth-child(2):hover a,
.wrap .nav_item:nth-child(3):hover a,
.wrap .nav_item:nth-child(4):hover a
{
    color:var(--nav-font-color);
    font-weight: bold;
}
.wrap li:nth-child(5),
.wrap li:nth-child(6){
    margin: auto -10px;
}
.wrap li img{
    width: 40%;
}
/*banner*/
.banner{
    width: 100%;
    height: 50%;
    position: relative;
}
.carousel-item{
    width: 1200px;
    height: 800px;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.carousel-item .carousel-caption h2,
{
    font-size: var(--h2-font-size);
    color:var(--h2-color);
}
.carousel-item .carousel-caption p
/*about*/
.about{
    width: 100%;
    box-sizing: border-box;
    min-height: 50vh;
}
.about .title h2{
    margin: 2rem;
    line-height: 50px;
    text-align: center;
    font-size: var(--h2-font-size);
    color: var(--h2-color);
    font-weight: bold;
}
.about .title h2::after{
    content: url(img/mainPage/arrow_bend.png);
}
.box_group{
    position: relative;
    width: 1300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.box_group .box{
    position: relative;
    width: 300px;
    height: 250px;
    overflow: hidden;
    transition: .5s;
}
.box_group .box:hover{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 20px 40px rgba(0,0,0,.);
    border-radius: 20px;
}
.box_group .box .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.box_group .box .imgBx::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg,var(--bg-color),#666);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: .3s;
}
.box_group .box:hover .imgBx::before{
    opacity: 1;
}
.box_group .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.box_group .box .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
}
.box_group .box .content a{
    color: #111;
}
/* .box_group .box .content h2{ 
    transition: .3s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: var(--h2-font-size);
    transform: translateY(200px);
} */
.box_group .box .content h3{
    background-color: var(--bg-color);
    border-radius: 20px;
    text-decoration: none;
    letter-spacing: .2rem;
    padding: 1rem  1.5rem;
    font-size: var(--h3-font-size);
}
.box_group .box:hover .content h2{
    transform:translateY(0);
    transition-delay: .1s;
}
.box_group .box .content p{
    color: #fff;
    transform: translateY(200px);
    transition: .3s;
    font-size: var(--h4-font-size);
    padding: 1rem  1.5rem;
}
.box_group .box:hover .content p{
    transform:translateY(0);
    transition-delay: .2s;
}

/*best-seller-product*/
.best_seller_product{
    width: 100%;
    box-sizing: border-box;
    min-height: 80vh;
}
.best_seller_product > h2{
    padding-top: 20px;
    line-height: 50px;
    text-align: center;
    font-size: var(--h2-font-size);
    margin: 2rem;
    color: #BA6565;
    font-weight: bold;
}
.best_seller_product > h2::after{
    content:url(img/mainPage/arrow_bend.png);
    transform: translateX(-10px);
    transition: .5s ;
}
.product_group{
    position: relative;
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 auto;
}
.product_group .product{
    max-width: 250px;
    height: 300px;
    /* background-color: #ccc; */
    margin: 2rem 1rem;
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* box-shadow: 0 5px 20px rgba(0,0,0,.5); */
    transition: .3s ease-in-out;
}
.product_group .product:hover{
    height: 500px;
}
.product_group .product .imgBx{
    position: relative;
    width: 250px;
    height: 250px;
    top: -50px;
    left: 0;
    z-index: 3;
    background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
    border-radius: 20px;
}
.product_group .product .imgBx img{
    width: 100%;
    border-radius: 4px;
}
.product_group .product .content{
    position: relative;
    margin-top: -140px;
    margin-left: 2rem;
    padding: 10px;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
}
.product_group .product .content h3{
    font-size: var(--h3-font-size);
    letter-spacing: var(--h3-letter-space)
}
.product_group .product .content p{
    font-size: var(--h4-font-size);
    letter-spacing: .05rem;
}
.product_group .product .content span{
    color: #BA6565;
    font-size: var(--h4-font-size);
    letter-spacing: .05rem;
}
.product_group .product:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: .4s;
}
/* category_group */
.category_group{
    width: 100%;
}
.category_group h2{
    text-align: center;
    padding: 10px 0 0;
    color:  #BA6565;
    font-size: var(--h2-font-size);
    font-weight: bold;
}
.category_group h2::after{
    content: url(img/mainPage/arrow_bend.png);
}
.product_category{
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.product_category .box{
    position: relative;
}
.box img{
    width: 50%;
    object-fit: cover;
}
.product_category .category_flower,
.product_category .category_orange,
.product_category .category_trunk,
.product_category .category_herbal
{
    width: 360px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
.box .txt{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 2rem;
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
    border-radius: 20px;
    transition: .5s;
    font-size: var(--h4-font-size);
}
.box .txt .title{
    font-size: var(--sub-title-font-size);
    margin-bottom: 20px;
    color: var(--p-color);
}
.box .txt p{
    color: #ccc;
}
.box:hover .txt{
    opacity: 1;
}
.select{
    padding: 30px;
}
/*product_category_bottomspace*/
.space{
    width: 100%;
    height: 100px; 
    padding-top: 30px;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
}
.space h2{
    font-size: var(--h2-font-size);
    color: var(--h2-color);
    margin: 20px;
    font-weight: bold;
}
/*psychological_test*/
.test_container{
    width: 100%;
    background-image:url(img/mainPage/banner3.jpg);
    vertical-align: bottom;
}
.owl-carousel{
    width: 1200px;
}
.owl-carousel .item h3{
    font-size: var(--h4-font-size);
    text-align: left;
    color: #4E6762;
    font-weight: normal;
    margin: 10px;
}
.test{
    padding: 10px;
}
/* store_location */
.store_location_list{
    width: 100%;
    padding: 30px;
    margin: 0 auto;
}
.store_location_list .list{
    width: 1200px;
    margin: 0 auto;
}
.store_location_list h2{
    line-height: 100px;
    text-align: center;
    font-size: var(--h2-font-size);
    padding: 0 2rem;
    color: #BA6565;
    font-weight: bold;
}
.store_location_list nav{
    width: 200px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.store_location_list nav a:nth-child(1){
    display: block;
    color: #BA6565;
    width: 60px;
    line-height: 50px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
}
.store_location_list nav a:nth-child(1):hover,
.store_location_list nav a:nth-child(2):hover,
.store_location_list nav a:nth-child(3):hover{
    display: block;
    color: #BA6565;
    transition: .2s;
}
.store_location_list nav a{
    font-size: var(--h4-font-size);
    color: #00000080;
}
.store_location{
    display: flex;
}

.store_detailed{
    width: 100%;
}
.store_detailed h2{
    font-size: var(--h3-font-size);
    text-align: left;
}
.store_detailed p{
    font-size: var(--h4-font-size);
    margin: 2rem;
}
.store_location .button_secondary{
    width: 250px;
    height: 40px;
    margin: 4rem auto;
    padding-top: 1rem;
    text-align: center;
}
/* footer */
footer{
    background-color: #E4DFD8;
    font-size: var(--h4-font-size);
}
.footer_wrap{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.footer_wrap a{
    color: #00000080;
}
.privacy:after{
    content: " | ";
}
.footer2_wrap,
.footer2_wrap a{
    display: block;
    color: #00000080;
    text-align: center;
    padding: 10px;
}
.follow_us img{
    width: 20px;
}
.footer_wrap div{
    padding: 10px;
}